.voffset2   { margin-top:   2px; }
.voffset5   { margin-top:   5px; }
.voffset7   { margin-top:   7px; }
.voffset10  { margin-top:  10px; }
.voffset15  { margin-top:  15px; }
.voffset17  { margin-top:  17px; }
.voffset20  { margin-top:  20px; }
.voffset30  { margin-top:  30px; }
.voffset50  { margin-top:  50px; }
.voffset70  { margin-top:  70px; }
.voffset90  { margin-top:  90px; }
.voffset100 { margin-top: 100px; }
.voffset150 { margin-top: 150px; }
